{% extends 'terms.html' %} {% block data %} {% if format_data == "table": %}

<div class="container p-4 w-75">
  <h3>Table</h3>
  <table id="example" class="display" style="width: 100%">
    <thead>
      <tr>
        <th>Term</th>
        <th>Translation EN</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for key, d in designations %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ d["en"] }}</td>
        <td>{{ d["des"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Term</th>
        <th>Translation EN</th>
        <th>Description</th>
      </tr>
    </tfoot>
  </table>
</div>

{% else %}

<div class="list-group">
  {% for d in designations %}
  <li
    class="term-row list-group-item d-flex justify-content-between align-items-center"
    onmouseover="appearDelete()"
  >
    <a
      href="/term/{{d}}"
      class="term-link list-group-item list-group-item-light btn-outline-secondary"
      id="section-{{ d[0] }}"
      >{{d}}</a
    >
    <div class="delete-term-container">
      <button type="button" onclick="deleteTerm('{{d}}')">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </li>
  {% endfor %}
</div>

{% endif %} {% endblock %}
