{% extends 'layout.html' %} 

{% block body %}

<div class="term-container">
<h3 class="term-title rounded">{{designation}} - ES</h3>
  {% for key, value in values %}
  <p>
    <p class="info-btn btn btn-outline-secondary">
      {{key}}
    </p>
    <div>
      <div class="card card-body">{{value}}</div>
    </div>
  </p>
  {% endfor %}
  <p>
    <a
      class="info-btn btn btn-outline-secondary"
      type="button"
      href="/term/{{designation}}"
    >
      PT
    </a>
  </p>
  <p>
    <a
      class="info-btn btn btn-outline-secondary"
      type="button"
      href="/term/en/{{designation}}"
    >
      EN
    </a>
  </p>
</div>

{% endblock %}
